CTS1/WpfCTSAdminModule/Service References/ServiceReferenceCTS/DBLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="AunswerNum" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TestId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="AdditionalContacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfAdditionalContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalContacts" nillable="true" type="tns:AdditionalContacts" />
  <xs:complexType name="ArrayOfAdditionalContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalContact" type="tns:AdditionalContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalContact" nillable="true" type="tns:ArrayOfAdditionalContact" />
  <xs:complexType name="AdditionalContact">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="contacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="service" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalContact" nillable="true" type="tns:AdditionalContact" />
  <xs:complexType name="User">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>