CTS1/WpfCTSAdminModule/Service References/ServiceReferenceCTS/DBLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="AunswerNum" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TestId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>